<!DOCTYPE html>
<html>
<head>
    <title>Backbone Weather App</title>
    
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="screen" charset="utf-8"/>
    
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/underscore.js"></script>
    <script type="text/javascript" src="/static/js/backbone.js"></script>
</head>
<body>
    <div class="container">
        <h1>Weather App Template</h1>
    
        <p>Modify this file at: <code>weather/templates/index.html</code></p>
        
        <p>Get weather forecasts with: <code>/forecast/?location=&lt;city name or zip&gt;</code>
        
        <p>The Cities REST service is at: <code>/cities/</code></p>
        
        <p>To view the REST service data use the <a href="/admin/cities/city/">Admin Page</a>. (user: admin , password: admin)</p>
        
        <p>jQuery, Underscore, and Backbone are already included in this template, which is the bare minimum
           you should need to get started.</p>
        
        <p>Stuck? Need a push in the right direction? Here's a possible <a href="/solution">solution</a>.<p>
        
        <h2>Useful Links</h2>
        
        <ul>
            <li><a href="http://documentcloud.github.com/backbone/">Backbone.js Docs</a></li>
            <li><a href="http://documentcloud.github.com/underscore/">Underscore.js Docs</a></li>
            <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap Reference</a></li>
        </ul>
    </div>
    
    <script type="text/javascript">
    $(document).ready(function(evt) {
        // initialize your app here 
    });
    </script>
</body>
</html>
